/*GLOBAL CSS*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #022ba8;
    margin: 0;
    padding: 0;
}

/*header*/

.title {
    background-color: #fff;
    height: auto;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

/*le menu*/
.menu {
    padding: 20px;
}

/*Les sous titres*/
.mintitle {
    color: white;
    font-size: 20px;
    text-decoration: underline;
    display: flexbox;
}

/* Les elements de la section "Actualites"*/
.part1 {
    background-color: white;
    margin: 40px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 25%;
    box-shadow: 20px;
    align-content: center;
}

.part2 {
    background-color: white;
    margin: 40px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 25%;
    box-shadow: 20px;
    align-content: center;
}

.part3 {
    background-color: white;
    margin: 40px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 25%;
    box-shadow: 20px;
    align-content: center;
}

/* Les elements de la section "Evenements"*/
.part4 {
    background-color: white;
    margin: 40px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 25%;
    box-shadow: 20%;
}

.part5 {
    background-color: white;
    margin: 40px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 25%;
    box-shadow: 20px;
}

.part6 {
    background-color: white;
    margin: 40px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    width: 25%;
    box-shadow: 20px;
}

/* les proprietes des sections */
.section {
    display: flex;
    flex: 0 1 40rem;
    justify-content: space-around;
}

/* les boutons*/
button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218828;
}
