/* Ceci est un essai du responsive, qui n'est pas tres concluente*/

@media only screen and (max-width: 400px){
    /*header-h1*/
    .title{
        padding: 5px 0;
        width: 400px;
        font-size:20px;
    }
    
    /* Les elements de la section "Actualites"*/
    .part1{
        font-size: 1.5px;
        background-color: white;
        margin: 40px;
        padding: 10px;
        border-radius: 10px;
        width: 25%;
        box-shadow: 20px;
    }
    
    .part2{
        font-size: 1.5rem;
        background-color: white;
        margin: 40px;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        width: 25%;
        box-shadow: 20px 0 0 black;
    }
    
    .part3{
        font-size: 1.5rem;
        background-color: white;
        margin: 40px;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        width: 25%;
        box-shadow: 20px;
    }
    
    .part4{
        font-size: 1.5rem;
        background-color: white;
        margin: 40px;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        width: 25%;
        box-shadow: 20px;
    }
    
    .part5{
        font-size: 1.5rem;
        background-color: white;
        margin: 40px;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        width: 25%;
        box-shadow: 20px;
    }
    
    .part6{
        font-size: 1.5rem;
        background-color: white;
        margin: 40px;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        width: 25%;
        box-shadow: 20px;
    }
    
    /*Les sous titres*/
    .mintitle{
        color: white;
        font-size: 5px;
        text-decoration: underline;
        display: flex;
    }
    
    /* les boutons*/
    button{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover{
        background-color: #218828;
    }
    
    /* les proprietes des sections */
    .section{
    flex: 0 1 10rem;
    justify-content: space-around;
}
}