.container_img_actu{
    background-color: rgba(54, 54, 236, 0.925);
    height: auto;
    width: 35%;
    text-align: center;
    color: white;
    border: 5px solid rgba(229, 245, 2, 0.993);
    border-radius: 25px;
    margin-bottom: 15px;
}
.container_img_actu:hover{
    background-color: rgba(63, 216, 216, 0.555);
    translate: transform(y);
    color: blue;
}

.img{
    position: relative;
    top: 15px;
    width: 90%;
    border-radius: 10px;
}

.p{
    word-wrap: break-word;
}

.h3{
    word-wrap: break-word;
}

.more{
    position:relative;
    bottom: 5px;
    text-decoration: none;
    color: black;
    height: auto;
    width: auto;
    background-color: brown;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px;
}
